<!DOCTYPE html>
<html lang="en">
<head>
 <h1> Round2 Test </h1>
 <p> Note: Whenever slider is moved, page may take a few seconds to update.
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Slider - Range slider</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>

    // $( "#amount" ).val( parseInt( $( "#slider-range" ).slider( "values", 0 ) / 60).toString() +":"+ parseInt( $( "#slider-range" ).slider( "values", 0 ) % 60).toString() + " - " + parseInt( $( "#slider-range" ).slider( "values", 1 ) / 60).toString() +":"+ parseInt( $( "#slider-range" ).slider( "values", 1 ) % 60).toString();
  function number_place(d) {
    return (d < 10) ? '0' + d.toString() : d.toString();
}

$.get( '/macheaders/1').success (function(time_range) {
  $( function() {


    

    $( "#slider-range" ).slider({

      range: true,
      min: 0,
      max: 1498436287 - 1498431718,
      values: [ time_range.start_time, time_range.end_time ],
      change: function( event, ui ) {

        $.post('/macheaders/1', {

        _method: "PUT",
        mac: {
          start_time: parseInt(ui.values[ 0 ]),
          end_time: parseInt(ui.values[ 1 ]) 
        }
      }).success (function(macTime) { });

        $( "#amount" ).val(  parseInt(ui.values[ 0 ] / 60).toString() +":"+ number_place(parseInt(ui.values[ 0 ] % 60)).toString() + " - " + parseInt(ui.values[ 1 ] / 60).toString() +":"+ number_place(parseInt(ui.values[ 1 ] % 60)).toString() );
        console.log($( "#amount" ).val());

        setTimeout(function()
    {
        location.reload();

    }, 200);
        ;
      }

        });

    });


     $( "#amount" ).val( parseInt( $( "#slider-range" ).slider( "values", 0 ) / 60) +":"+ number_place(parseInt( $( "#slider-range" ).slider( "values", 0 ) % 60)).toString() + " - " + parseInt( $( "#slider-range" ).slider( "values", 1 ) / 60).toString() +":"+ number_place(parseInt( $( "#slider-range" ).slider( "values", 1 ) % 60)).toString() );
     console.log($( "#amount" ).val());




  } );
  </script>

</head>
<body>
 
<p>
  <label for="amount">Minute Range:</label>
  <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
</p>
 
<div id="slider-range"></div>

<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<%= bar_chart @data, stacked: true %> 


</body>
</html>