<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Slider - Range slider</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>

    // $( "#amount" ).val( parseInt( $( "#slider-range" ).slider( "values", 0 ) / 60).toString() +":"+ parseInt( $( "#slider-range" ).slider( "values", 0 ) % 60).toString() + " - " + parseInt( $( "#slider-range" ).slider( "values", 1 ) / 60).toString() +":"+ parseInt( $( "#slider-range" ).slider( "values", 1 ) % 60).toString();
  function number_place(d) {
    return (d < 10) ? '0' + d.toString() : d.toString();
}
  $( function() {
    $( "#slider-range" ).slider({
      range: true,
      min: 0,
      max: 500,
      values: [ 0, 300 ],
      slide: function( event, ui ) {
        $( "#amount" ).val(  parseInt(ui.values[ 0 ] / 60).toString() +":"+ number_place(parseInt(ui.values[ 0 ] % 60)).toString() + " - " + parseInt(ui.values[ 1 ] / 60).toString() +":"+ number_place(parseInt(ui.values[ 1 ] % 60)).toString() );
      }
    });

     $( "#amount" ).val( parseInt( $( "#slider-range" ).slider( "values", 0 ) / 60) +":"+ number_place(parseInt( $( "#slider-range" ).slider( "values", 0 ) % 60)).toString() + " - " + parseInt( $( "#slider-range" ).slider( "values", 1 ) / 60).toString() +":"+ number_place(parseInt( $( "#slider-range" ).slider( "values", 1 ) % 60)).toString() );

  } );
  </script>

</head>
<body>
 
<p>
  <label for="amount">Minute Range:</label>
  <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
</p>
 
<div id="slider-range"></div>

<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<%= bar_chart @data, stacked: true %> 


</body>
</html>